{% extends 'base.njk' %}

{% block pageStyles %}
  <link rel="stylesheet" href="/assets/css/faq.css">
{% endblock %}

{% block main %}
  <h2>{{ 'pages.faq.title' | i18n | desaccentify }}</h2>

  {% for qa in faq %}
      <article class="faq-qa collapsed">
        <h3 onclick="this.parentElement.classList.toggle('collapsed')">
        {% if qa.question.fr and locale == 'fr' %}
            {{ qa.question.fr }}
        {% elif qa.question.en and locale == 'en' %}
            {{ qa.question.en }}
        {% elif qa.question.en %}
            {{ qa.question.en}}
        {% elif qa.question.fr %}
            {{ qa.question.fr }}
        {% else %}
            {{ "Question missing" }}
        {% endif %}
        </h3>
        <div class="faq-answer">
            {% if qa.answer.fr and locale == 'fr' %}
                {{ qa.answer.fr | lore | safe }}
            {% elif qa.answer.en and locale == 'en' %}
                {{ qa.answer.en | lore | safe }}
            {% elif qa.answer.en %}
                {{ qa.answer.en | lore | safe }}
            {% elif qa.answer.fr %}
                {{ qa.answer.fr | lore | safe }}
            {% else %}
                {{ "Answer missing" }}
            {% endif %}
        </div>
      </article>
  {% endfor %}

{% endblock %}
