{% extends 'base.njk' %}

{% block pageStyles %}
  <link rel="stylesheet" href="/assets/css/slideshow.css" type="text/css">
  <link rel="stylesheet" href="/assets/css/home.css" type="text/css">
{% endblock %}

{% block filler %}
  <div class="learn-more">
    <a href="#main">{{ 'pages.home.more' | i18n | desaccentify}}</a>
    <div class="expanding"></div>
  </div>
{% endblock %}

{% block main %}
<article class="illustrated-paragraph">
    <div class="article-content">
      <p>{{ 'pages.home.info.content' | i18n }}</p>
      <p></p>
      <a class="button button-discord" target="_blank" href="https://discord.btefrance.fr">{{ 'pages.home.info.button' | i18n }}</a>
    </div>
    <div class="illustration image-slideshow">
      <img src="/assets/img/gallery/CirqueJuleVerneAmiens.png">
      <img src="/assets/img/gallery/Fl4v1_Paris_1.jpg">
      <img src="/assets/img/gallery/Image_05_003.png">
      <img src="/assets/img/gallery/NantesFoch.png">
    </div>
  </article>
  <article class="main-content social-media">
    <h2>{{ 'pages.home.join' | i18n | desaccentify}}</h2>
    <div class="social-media-account social-media-account-alone">
      <a href="https://discord.btefrance.fr"><img src="/assets/img/social/discord-color.svg" alt="Discord logo"></a>
    </div>
    <div class="social-media-account">
      <a href="https://www.youtube.com/c/BTEFrance"><img src="/assets/img/social/youtube-color.svg" alt="YouTube logo"></a>
    </div>
    <div class="social-media-account">
      <a href="https://twitter.com/BTE_France"><img src="/assets/img/social/twitter-color.svg" alt="Twitter logo"></a>
    </div>
    <div class="social-media-account">
      <a href="https://www.instagram.com/bte_france"><img src="/assets/img/social/instagram-color.svg" alt="Instagram logo"></a>
    </div>
    <div class="social-media-account">
      <a href="https://www.facebook.com/Build-The-Earth-France-113380800556340"><img src="/assets/img/social/facebook-color.svg" alt="Facebook logo"></a>
    </div>
    <div class="social-media-account">
      <a href="https://www.reddit.com/user/BTE_France"><img src="/assets/img/social/reddit-color.svg" alt="Reddit logo"></a>
    </div>
    <div class="social-media-account">
      <a href="https://www.planetminecraft.com/member/bte-france"><img src="/assets/img/social/planetminecraft-color.svg" alt="Planet Minecraft logo"></a>
    </div>
    <div class="social-media-account">
      <a href="https://www.tiktok.com/@btefrance"><img src="/assets/img/social/tiktok-color.svg" alt="TikTok logo"></a>
    </div>
    <div class="social-media-account">
      <a href="https://github.com/BTE-France"><img src="/assets/img/social/github-color.svg" alt="GitHub logo"></a>
    </div>
  </article>
  <article class="illustrated-paragraph">
    <div class="illustration image-slideshow">
      <img src="/assets/img/hub.jpg">
      <img src="/assets/img/discord-server.png">
      <img src="/assets/img/group-screenshot.jpg">
    </div>
    <div class="article-content">
      <h3>{{ 'pages.home.origins.title' | i18n }}</h3>
      <p>
        {{ 'pages.home.origins.content' | i18n }}
      </p>
    </div>
  </article>
{% endblock %}

{% block pageScripts %}
<script src="/assets/js/slideshow.js"></script>
<script>
  const MAIN_SLIDESHOW = new BackgroundSlideshow(document.querySelector("#filler"), [
      "/assets/img/home-slideshow/defense.png",
      "/assets/img/home-slideshow/foch.png",
      "/assets/img/home-slideshow/lisieux.png",
      "/assets/img/home-slideshow/monaco.png",
      "/assets/img/home-slideshow/pttvenise.png",
      "/assets/img/home-slideshow/stmathieu.png",
      "/assets/img/home-slideshow/vdcmillau.png"
      ]
  );
  initializeAllIllustrationSlideshows({
      "cycle-interval": 6000
  });
  setInterval(() => MAIN_SLIDESHOW.changeToNextImage(), 10000);
</script>
{% endblock %}
